<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem">
        <a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem">
        <a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-gitpage" role="menuitem">
        <a href="{{site.baseurl}}tag/gitpage/">Github Page</a></li>
    <li class="nav-cpp" role="menuitem">
        <a href="{{site.baseurl}}tag/cpp/">C++</a></li>
    <li class="nav-math" role="menuitem">
        <a href="{{site.baseurl}}tag/math/">Math</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tags-Posts</a>
    </li>
</ul>
